*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:#38AAFF;
}

#container-logo{
 padding: 20px 20px;
 margin-bottom: 20px;

}

#boolean{
    vertical-align: middle;
}

#text-logo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

main{
    width: 70%;
    margin: auto;
}


header{
    background-color: white;
}

/*contenitore bianco*/
.container {
    background-color: white;
    height: 750px;
    width: 900px;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .bottoni{
    padding: 20px 40px;
  }
  
  /*bordi rotondi pulsanti*/
  .pulsante {
    padding: 7px;
    border-radius: 5px;
  }
  
  /*bottone task*/
  #task {
    background-color: #38AAFF;
  }

  /*bottone section*/
  #section {
    border: 1px solid darkgray;
  }
  
  hr{
    height: 1px;
    background-color: lightgray;
    border: none;
    margin-bottom: 20px;
  }

  h2{
    margin-top: 15px;
    margin-bottom: 7px;
  }
  
  #contcentrale{
    margin-left: 40px;
  }

  /*aggiunta spunta*/
  .check::after{
    content: '\2713';
  }

  /*cerchio dove mettere il check o la croce*/
  .circle{ 
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .green{
    border: 1px solid green;
  }

  /*spunta prima del titolo*/
  h2::before{
    content: '\2714';
  }

  /*definizione forma e colore etichette*/
  .mark{
    border-radius: 20px;
    padding: 4px 8px;
    color: white;
  }

  .editorial{
    background-color: #38AAFF;
  }

  /*aggiunta croce*/
  .cross::after{
    content: '\2717';
  }

  .red{
    border: 1px solid red;
  }

  .goals{
    background-color: #AB5CE6;
  }
  
  .recruiting{
    background-color: #2CC6AB;
  }

  .mobile{
    background-color: #FA9B00;
  }

  .website{
    background-color: #EC4A9D;
  }

  .sales{
    background-color: #A3D114;
  }